.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .rightArrow {
    position: absolute;
    top: 40%;
    margin-right: 40px;
    right: 40px;
    font-size: 2rem;
  }
  
  .leftArrow {
    /* position: absolute;
    top: 50%;
    left: 20px;
    font-size: 2rem; */
  }


  .drawer-button{
    padding: 6px 15px;
background-color: #F3F2F3;
color: #080608;
font-weight: 600;
border-radius: 12px;
border: 2px solid white;
font-size: 14px;
margin-top: 10px;
margin-bottom: 10px;
padding: 10px 115px;
  }
  